<h6 class="center"><strong>Airports</strong></h6>
<table class="striped">
    <thead>
    <tr>
        <th>Airport</th>
        <th>Iata</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="airports.airports.length > 0" ng-repeat="airport in airports.airports track by $index">
        <td>{{airport.name}}</td>
        <td>{{airport.iata}}</td>
        <td>{{airport.city}}</td>
    </tr>
    <tr ng-if="airports.airports.length === 0">
        <td colspan="4" class="center">
            <strong>No airports available.</strong>
        </td>
    </tr>
    </tbody>
</table>
