<h6 class="center"><strong>Carriers</strong></h6>
<table class="striped">
    <thead>
    <tr>
        <th>Carrier</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="carriers.carriers.length > 0" ng-repeat="carrier in carriers.carriers track by $index">
        <td>{{carrier.name}}</td>
        <td>{{carrier.code}}</td>
    </tr>
    <tr ng-if="carriers.carriers.length === 0">
        <td colspan="4" class="center">
            <strong>No carriers available.</strong>
        </td>
    </tr>
    </tbody>
</table>
